<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATMOS Company</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style>
      svg {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <!-----------------------------------------------Navbar----------------------------------------------------------------------------->
    <header class="header">
      <h1 class="logo"><a href="home">ATMOS Company</a></h1>
      <img src="/images/AtmosLogo.png" alt="Atmos Logo">
      <ul class="main-nav">
          <li><a href="home">Ana Səhifə</a></li>
          <li><a href="dashboard">İdarə Paneli</a></li>
          <li><a href="employeeTable">İşçi Cədvəli</a></li>
          <li><a href="employeeRegister">İşçi Qeydiyyatı</a></li>
      </ul>
    </header>
    <!------------------------------------------------Main----------------------------------------------------------------------------->
    <svg id="pieChart"></svg>
    <script>
      const male = [[${male}]];
      const female = [[${female}]];
      const other = [[${other}]];
      const data = [male, female, other]; // Oranlar yüzde cinsinden

      const width = 300;
      const height = 300;
      const radius = Math.min(width, height) / 2;

      const color = d3.scaleOrdinal(d3.schemeCategory10);

      const pie = d3.pie().value(d => d);

      const arc = d3.arc().outerRadius(radius - 10).innerRadius(0);

      const svg = d3.select("#pieChart")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", `translate(${width / 2},${height / 2})`);

      const g = svg.selectAll(".arc")
        .data(pie(data))
        .enter().append("g")
        .attr("class", "arc");

      g.append("path")
        .attr("d", arc)
        .style("fill", d => color(d.index));

      g.append("text")
        .attr("transform", d => `translate(${arc.centroid(d)})`)
        .attr("dy", ".35em")
        .style("text-anchor", "middle")
        .text((d, i) => data[i] + "%");
    </script>
  </body>
</html>
